@import "~antd/dist/antd.css";

.App-logo {
  height: 80px;
  margin: auto;
}

.App-header {
  display: flex;
  height: 200px;
  padding: 20px;
  color: white;
}

.filters-list {
  padding: 1rem 0;
}

.filters-list__item + .filters-list__item {
  margin-top: 2rem;
}

.filter-range__title {
  display: flex;
  align-items: baseline;
}

.filter-range__title > span + span {
  margin-left: auto;
}

.teasers-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 1280px) {
  .teasers-list {
    justify-content: center;
  }
}

.container {
  width: 100%;
  max-width: 95vw;
  margin: auto;
}

@media (min-width: 1920px) {
  .container {
    max-width: 1500px;
  }
}

.ant-card-cover > * {
  height: 200px;
  object-fit: cover;
}

.card-price {
  background-color: #2f65eb;
  position: absolute;
  top: 1.5rem;
  right: 0;
  color: #fff;
  padding: 0.2em 0.7em;
  border-radius: 3px 0 0 3px;
}

.search-bar + .search-keys {
  margin-top: 1rem;
}
